*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties
/build
/app/build
.DS_Store
